{{ header }}
<style type="text/css">
  .site-wrapper>.container>.row {
    display: flow!important;
    flex-grow: 1;
}
</style>
{{ j3.loadController('journal3/layout', 'top') }}
{% if content_top or content_bottom or column_left or column_right %}
<div id="common-home" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    {% if content_top or content_bottom %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    {% endif %}
    {{ column_right }}</div>
</div>
{% endif %}

<div class="row" style="margin-top:20px; text-align:center;">
    <h1>TOTAL CATEGORIES LOADED: {{ custom_categories|length }}</h1>
</div>

<div class="container" id="custom-category-products">
  {% for category in custom_categories %}
    {% if category.products %}
      <div class="j3-module module-title" style="margin: 40px 0 20px;">
        <h3 class="title" style="font-size: 24px;">{{ category.name }}</h3>
      </div>

      <div class="module module-products module-products-27 module-products-grid carousel-mode" style="margin-bottom: 30px;">
        <div class="main-products product-grid">
            {% for product in category.products|slice(0, 8) %}
            <div class="product-layout has-extra-button" style="padding: 10px; width: 25%; float: left; margin-bottom: 20px;">
                <div class="product-thumb">
                    <div class="image">
                        <a href="{{ product.href }}" class="product-img {% if product.thumb2 %}has-second-image{% endif %}">
                            <div>
                                <img src="{{ product.thumb ? product.thumb : 'image/no_image.png' }}" width="250" height="250" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive img-first"/>
                                {% if product.thumb2 %}
                                    <img src="{{ product.thumb2 }}" width="250" height="250" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive img-second" />
                                {% endif %}
                            </div>
                        </a>
                        {% if product.labels %}
                            <div class="product-labels">
                                {% for id, label in product.labels %}
                                    <span class="product-label product-label-{{ id }} product-label-{{ label.display }}"><b>{{ label.label }}</b></span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="caption">
                        <div class="stats">
                            <span class="stat-1"><span class="stats-label">Brand:</span> <span><a href="{{ product.manufacturer_href }}">{{ product.manufacturer }}</a></span></span>
                        </div>
                        <div class="name"><a href="{{ product.href }}">{{ product.name }}</a></div>
                        <div class="description">{{ product.description }}</div>
                        
                        {% if product.price %}
                        <div class="price">
                            <div>
                                {% if not product.special %}
                                    <span class="price-normal">{{ product.price }}</span>
                                {% else %}
                                    <span class="price-new">{{ product.special }}</span>
                                    <span class="price-old">{{ product.price }}</span>
                                {% endif %}
                            </div>
                            {% if product.tax %}
                                <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                            {% endif %}
                        </div>
                        {% endif %}
                        
                        {% if product.rating %}
                        <div class="rating {% if product.rating == 0 %}no-rating{% endif %}">
                            <div class="rating-stars">
                                {% for i in 1..5 %}
                                    {% if product.rating < i %}
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    {% else %}
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        <div class="buttons-wrapper">
                            <div class="button-group">
                                <div class="cart-group">
                                    <div class="stepper">
                                        <input type="text" name="quantity" value="{{ product.minimum }}" data-minimum="{{ product.minimum }}" class="form-control" />
                                        <input type="hidden" name="product_id" value="{{ product.product_id }}" />
                                        <span>
                                            <i class="fa fa-angle-up"></i>
                                            <i class="fa fa-angle-down"></i>
                                        </span>
                                    </div>
                                    <a class="btn btn-cart" {% if current_product.button_cart_disable %}disabled{% else %}onclick="cart.add('{{ product.product_id }}', $(this).closest('.product-thumb').find('.button-group input[name=\'quantity\']').val());"{% endif %} data-loading-text="<span class='btn-text'>{{ button_cart }}</span>"><span class="btn-text">{{ button_cart }}</span></a>
                                </div>
                                
                                <div class="wish-group">
                                    <a class="btn btn-wishlist" data-toggle="tooltip" data-tooltip-class="wishlist-tooltip" data-placement="top" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><span class="btn-text">{{ button_wishlist }}</span></a>
                                    <a class="btn btn-compare" data-toggle="tooltip" data-tooltip-class="compare-tooltip" data-placement="top" title="{{ button_compare }}"  onclick="compare.add('{{ product.product_id }}');"><span class="btn-text">{{ button_compare }}</span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
            <div style="clear: both;"></div> <!-- Clear floating elements -->
        </div>

        <div class="text-center" style="margin-top: 15px; margin-bottom: 30px;">
            <a href="{{ category.href }}" class="btn btn-primary" style="padding: 10px 20px; font-size: 14px;">View More {{ category.name }}</a>
        </div>
    {% endif %}
  {% endfor %}
</div>
{{ j3.loadController('journal3/seo/rich_snippets') }}
{{ footer }}
